services:
  sphinx:
    build: .
    working_dir: /docs
    volumes:
      - ./docs:/docs
    ports:
      - "8080:8080"
    command:
      - sphinx-autobuild
      - source
      - build/html
      - --host
      - 0.0.0.0
      - --port
      - "8080"
