services:
  sphinx:
    build:
      context: .
      # Dockerfileは共通化
      dockerfile: Dockerfile
    working_dir: /app

    # bind mount
    volumes:
      - ./:/app

    # firewalld/iptables等に注意
    # hostでListenしてるか見る
    # $ sudo ss -plunt | grep 8080
    #
    ports:
      - "8080:8080"

    # この書き方が安定かも
    command:
      - uv
      - run
      - sphinx-autobuild
      - docs/source
      - docs/build/html
      - --host
      - 0.0.0.0
      - --port
      - "8080"

  pio:
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /app

    volumes:
      - ./:/app

    tty: true
    privileged: true

    command:
      - uv
      - run
      - pio
      - run
      - -d
      - bot
      - -t
      - upload 
