services:
  sphinx:
    # これは必要なときだけ手動ビルド
    profiles:
      - tools
    build:
      context: .
      # Dockerfileは共通化
      dockerfile: Dockerfile
    working_dir: /app

    # bind mount
    volumes:
      - ./:/app
      # コンテナ内の.venv消える？
      # これはやばい可能性がある
      - /app/.venv

    # firewalld/iptables等に注意
    # hostでListenしてるか見る
    # $ sudo ss -plunt | grep 8080
    #
    ports:
      - "8080:8080"

    # この書き方が安定かも
    command:
      - uv
      - run
      - sphinx-autobuild
      - docs/source
      - docs/build/html
      - --host
      - 0.0.0.0
      - --port
      - "8080"

  pio:
    profiles:
      - setup
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /app

    volumes:
      - ./:/app
      - /app/.venv
      - /dev/bus/usb:/dev/bus/usb
      - pio_cache:/root/.platformio
      - uv_cache:/root/.cache/uv

    tty: true
    privileged: true
    network_mode: host
    command:
      - uv
      - run
      - pio
      - run
      - -d
      - bot
      - -t
      - upload

  bot:
    profiles:
      - setup
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /app

    volumes:
      - ./:/app
      - /app/.venv
      - /dev:/dev
  
        #devices:
        #- "/dev/doorduino:/dev/doorduino"

    tty: true
    privileged: true
    network_mode: host
    # systemdに管理を任せる
    restart: no
    command:
      - uv
      - run
      - bot/bot.py


  # simは常駐で動かす
  simulator:
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /app


    volumes:
      - ./:/app
      - /app/.venv

    #network_mode: host
    ports:
      - "8501:8501"

    # メンテナンス時以外は自動復旧
    restart: unless-stopped

    command:
      - uv
      - run
      - streamlit
      - run
      - scripts/control/simple_pid_simulator.py
      - --server.address
      - "0.0.0.0"


volumes:
  pio_cache:
  uv_cache:
