services:
  sphinx:
    build:
      context: .
      # Dockerfileは共通化
      dockerfile: Dockerfile
    working_dir: /app

    # bind mount
    volumes:
      - ./:/app
      - /app/.venv

    # firewalld/iptables等に注意
    # hostでListenしてるか見る
    # $ sudo ss -plunt | grep 8080
    #
    ports:
      - "8080:8080"

    # この書き方が安定かも
    command:
      - uv
      - run
      - sphinx-autobuild
      - docs/source
      - docs/build/html
      - --host
      - 0.0.0.0
      - --port
      - "8080"

  pio:
    profiles: ["setup"]
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /app

    volumes:
      - ./:/app
      - /app/.venv

    tty: true
    privileged: true

    command:
      - uv
      - run
      - pio
      - run
      - -d
      - bot
      - -t
      - upload

  bot:
    profiles: ["setup"]
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /app

    volumes:
      - ./:/app
      - /app/.venv

    tty: true
    privileged: true
    network_mode: host
    restart: always
    command:
      - uv
      - run
      - bot/bot.py


  simulator:
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /app


    volumes:
      - ./:/app
      - /app/.venv

    #network_mode: host
    ports:
      - "8501:8501"

    command:
      - uv
      - run
      - streamlit
      - run
      - scripts/control/simple_pid_simulator.py
      - --server.address
      - "0.0.0.0"
