[Unit]
Description=Rodep Bot with Auto-Upload
After=docker.service
Requires=docker.service

[Service]
#Type=oneshot
Type=simple # restartを使うため

WorkingDirectory=/home/rodep/rodep-lore

# dockerコンテナを立ち上げる
ExecStart=/bin/bash bot/startup.sh

Restart=always
RestartSec=30
User=rodep

[Install]
WantedBy=multi-user.target
