[Unit]
Description=Rodep Bot with Auto-Upload
After=docker.service
Requires=docker.service

[Service]
Type=simple
WorkingDirectory=/home/rodep/rodep-lore
# 上記のスクリプトを叩く
ExecStart=/bin/bash scripts/startup.sh
# Botコンテナが止まったら再起動をかける（スクリプトごとやり直す）
Restart=always
RestartSec=30
User=rodep

[Install]
WantedBy=multi-user.target
